<footer>
    <div class="social-media">
        <ul>
            <li>
                <p><a href="https://www.linkedin.com/in/mustafa-pek%C5%9Fen-05647b165/">LinkedIn</a></p>
            </li>
            <li>
                <p><a href="https://www.instagram.com/mpeksenn/">Instagram</a></p>
            </li>
            <li>
                <p><a href="https://twitter.com/mustafapeksennn">Twitter</a></p>
            </li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright © Mustafa Pekşen
            <script>var years = new Date().getFullYear(); document.write(years)</script>
        </p>
    </div>

</footer>
<script src="/index.js"></script>
<script>// Selecting the input field
    const numericInput = document.getElementById('isbn');

    // Function to run on each key press
    numericInput.addEventListener('keydown', function (event) {
        // Getting the keycode from the event object
        const key = event.key;

        // Allowed keys: numbers, Backspace (8), Tab (9), Enter (13), Left (37), Right (39)
        const allowedKeys = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'Backspace', 'Tab', 'Enter', 'Left', 'Right'];

        // If the pressed key is not among the allowed keys or if the Shift key is pressed (for special characters)
        if (!allowedKeys.includes(key) || (event.shiftKey && key !== 'Backspace')) {
            // Prevent the default action of the key
            event.preventDefault();
        }
    });
</script>

</body>

</html>