body {
    max-width: 40em;
    margin: 0 auto;
    padding: 5px;
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    background-color: #fff;
    color: #000;
}

.header-title {
    line-height: 1em;
    font-size: 3em;
    font-family: "Valkyrie C4";
    font-weight: normal;
    font-style: normal;
}

h1:hover {
    text-decoration: underline;
}

.read-books {
    line-height: 1em;
    font-size: 2em;
    font-family: "Valkyrie C4";
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
    color: #20b;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4 {
    line-height: 1em;
}

h2,
h3 {
    margin-top: 2em;
}

section {
    margin-bottom: 4em;
}

.book {
    margin: 0 0 8em 0;
}

figure {
    margin: 0;
}

small {
    font-size: 0.8em;
    color: #666;
}

figure img {
    float: left;
    margin-right: 2em;
}

.btn {
    position: relative;
    background-color: beige;
    padding: 0.3em 0.9em;

    border-radius: 10px;
    font-size: 1.5em;
    left: 25em;
    transition: transform 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(218, 218, 199);
    transform: scale(1.1);
}

label {
    margin-right: 10px;
}

#book_title {
    text-transform: capitalize;
    width: 80%;

}

#isbn {
    width: 30%;
}

#author {
    text-transform: capitalize;
    width: 44%;
}

#summary {
    text-transform: capitalize;
    width: 100%;
    height: 50em;
}

.isbn {
    margin-right: 10px;
}

#note {
    text-transform: capitalize;
    width: 100%;
    height: 100em;
}

.text-zone {
    position: relative;
    left: 50%;
    word-wrap: break-word;
}

.submit {
    position: relative;
    left: 50%;
    height: 3em;
    width: 9em;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media li {
    list-style-type: none;
}

.social-media ul {
    display: flex;
    gap: 30px;
}

.copyright>p {
    font-size: 1.2rem;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book h3,
.content h2,
.content h3 {
    color: brown;
}

.delete {
    position: relative;
    top: 100px;
    left: 92%;
    padding: 10px 20px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: #fff;
    font-size: 1.25em;
    transition: transform 0.3s ease-in-out;
}

.delete:hover {
    background-color: rgb(231, 0, 0);
    cursor: pointer;
    transform: scale(0.9);
}

.edit {
    color: #000;
    font-size: 1em;
    left: 34em;
}